<div class="chapter__input wrapper-dropdown input__container">
    <select id="{{ widget.attrs.id }}" name="{{ widget.name }}" class="hidden">
        {% for value, choice in widget.choices %}
            <option value="{{ value }}"{% if value == widget.value %} selected{% endif %}>{{ choice }}</option>
        {% endfor %}
    </select>
    <span class="selected-display">Не обрано</span>
    <i class="ri-arrow-down-s-fill arrow"></i>
    <ul class="dropdown">
        {% for value, choice in widget.choices %}
            <li class="dropdown-item" data-value="{{ value }}">{{ choice }}</li>
        {% endfor %}
    </ul>
</div>