{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- ============  CANCEL BOOKING  ============== -->
<section class="cancel-booking section">
   <form class="cancel-booking form" method="POST">
      {% csrf_token %}
      <div class="form-chapter form-chapter-small">
         <div class="chapter__fields grid grid-template-columns-4">
            <div class="field chapter__field grid-field" tabindex="-1">
               <p class="field__title">ID квитка*</p>
               <input type="text" id="ticket_number" name="ticket_number" class="chapter__input input__container"
                      placeholder="111111111">
               <p class="chapter__field-error error hidden" id="form-field-error">Це поле має бути заповнене.</p>
            </div>
         </div>
      </div>

      <div class="form__submit">
         <button class="button-fill button-red input__container" type="submit">
            Скасувати
         </button>
      </div>
   </form>
</section>



<!-- scripts -->
<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}