{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ============  CHECK BOOKING  ============== -->
<section class="cancel-booking section">
   <form class="cancel-booking form" method="POST">
      {% csrf_token %}
      <div class="form-chapter form-chapter-small">
         <div class="chapter__fields grid grid-template-columns-4">
            <div class="field chapter__field grid-field" tabindex="-1">
               <p class="field__title">ID квитка*</p>
               <input type="text" id="ticket_number" name="ticket_number" class="chapter__input input__container" placeholder="111111111">
               <p class="chapter__field-error error hidden" id="form-field-error">Це поле має бути заповнене.
               </p>
            </div>
            <div class="field chapter__field grid-field" tabindex="-1">
               <p class="field__title invisible-text">submit-button</p>
               <button class="form__submit button-fill button-blue input__container chapter__button"
                  type="submit" id="check-booking-button">
                  Переглянути
               </button>
            </div>
         </div>
      </div>
   </form>
{% if error %}
    <p> {{ error }} </p>
{% else %}
   {% if tickets %}
      {% for ticket in tickets %}
      <table class="table__booking-info table" id="ticket-data">
         <caption class="table-caption chapter__title">Інформація про квиток</caption>

         <tbody class="table-body">
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Статус</td>
               <td class="table-cell" role="cell">{{ ticket.payment_status }}</td>
            </tr>
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Пасажир</td>
               <td class="table-cell" role="cell">{{ ticket.first_name }} {{ ticket.second_name }}</td>
            </tr>
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Дата вильоту</td>
               <td class="table-cell" role="cell">{{ ticket.departure_date }}</td>
            </tr>
            {% if ticket.return_date %}
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Дата повернення</td>
               <td class="table-cell" role="cell">{{ ticket.return_date }}</td>
            </tr>
            {% endif %}
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Місце вильоту</td>
               <td class="table-cell" role="cell">{{ ticket.city_of_departure }}</td>
            </tr>
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Місто призначення</td>
               <td class="table-cell" role="cell">{{ ticket.city_destination }}</td>
            </tr>
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Відправлення</td>
               <td class="table-cell" role="cell">{{ ticket.flight_departure }}</td>
            </tr>
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Клас обслуговування</td>
               <td class="table-cell" role="cell">{{ ticket.plane_class }}</td>
            </tr>
            <tr class="table-row" role="row">
               <td class="table-cell" role="cell">Номер місця</td>
               <td class="table-cell" role="cell">{{ ticket.plane_place }}</td>
            </tr>
         </tbody>
      </table>
      {% endfor %}
    {% endif %}
{% endif %}
</section>



<!-- scripts -->
<script src="{% static 'js/forms.js' %}"></script>
<script src="{% static 'js/check_booking.js' %}"></script>
{% endblock %}