{% extends 'base.html' %}

{% block content %}
   <!-- ============  MAIN  ============== -->
   <main class="main">
      <div class="wrapper">
         <!-- ============  HOME  ============== -->
         <section class="home section">
            <div class="home__container">
               <div class="home__cards grid grid-template-columns-2">
                  <div class="home__card flex">
                     <i class="ri-train-line home__icon"></i>
                     <div class="card__buttons flex">
                        <a href="{% url 'booking' transport='train' travel_type='oneway' %}" class="home__button button-fill button-blue">Поезд в одну сторону</a>
                        <a href="{% url 'booking' transport='train' travel_type='roundtrip' %}" class="home__button button-fill button-yellow">Поезд с возвратом</a>
                     </div>
                  </div>
                  <div class="home__card flex">
                     <i class="ri-plane-line home__icon"></i>
                     <div class="card__buttons flex">
                        <a href="{% url 'booking' transport='plane' travel_type='oneway' %}" class="home__button button-fill button-blue">Самолёт в одну сторону</a>
                        <a href="{% url 'booking' transport='plane' travel_type='roundtrip' %}" class="home__button button-fill button-yellow">Самолёт с возвратом</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </main>
{% endblock %}