{% extends 'base.html' %}
{% block content %}
   <!-- ============  MAIN  ============== -->
   <main class="main">
      <div class="wrapper">
         <!-- ============  HOME  ============== -->
         <section class="home section">
            <div class="home__container">
               <div class="home__cards grid grid-template-columns-3">
                  <div class="home__card flex">
                     <i class="ri-calendar-check-line home__icon"></i>
                     <a href="{% url 'booking' %}" class="home__button button-fill button-green">Забронювати</a>
                  </div>
                  <div class="home__card flex">
                     <i class="ri-ticket-2-line home__icon"></i>
                     <a href="{% url 'check_booking' %}" class="home__button button-fill button-blue">Подивитися білет</a>
                  </div>
                  <div class="home__card flex">
                     <i class="ri-calendar-close-line home__icon"></i>
                     <a href="{% url 'cancel_booking' %}" class="home__button button-fill button-red">Скасувати</a>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </main>

   <!-- ============  SIGNUP FORM  ============== -->
   <div class="pop-up__log-form" id="signup-form">
   
      <div class="background-darken"></div>
   
      <div class="log-form__container">
         <div class="log-form__close__container flex">
            <div class="log-form__close" id="close-form">
               <i class="ri-close-line"></i>
            </div>
         </div>
   
         <h1 class="log-form__title">Зареєструватися</h1>
   
         <form action="#" class="log-form__form flex" method="post">
            {% csrf_token %}
            <div class="log-form__field">
               <p class="field-title">Ваше ім’я</p>
               <input type="text" id="name" name="name" class="log-form__input input__container" placeholder="Ім’я" required>
            </div>
            <div class="log-form__field">
               <p class="field-title">Ваше прізвище</p>
               <input type="text" id="last_name" name="last_name" class="log-form__input input__container" placeholder="Прізвище" required>
            </div>
            <div class="log-form__field">
               <p class="field-title">Ваш email</p>
               <input type="email" id="email" name="email" class="log-form__input input__container" placeholder="Email" required>
            </div>
            <div class="log-form__field">
               <p class="field-title">Пароль</p>
               <div class="log-form__input-with-icon">
                  <input type="password" id="password" name="password" class="log-form__input input__container input-password"
                     placeholder="Створіть пароль" required>
                  <span class="input__icon">
                     <i class="ri-eye-fill eye-opened hidden"></i>
                     <i class="ri-eye-off-fill eye-closed"></i>
                  </span>
               </div>
            </div>
            <div class="log-form__field">
               <p class="field-title">Дата народженя</p>
               <div class="log-form__input-with-icon">
                  <input type="date" id="date" name="date" class="log-form__input input__container input-date" required min="1900-12-31">
               </div>
            </div>
            <div class="log-form__field">
               <button class="log-form__submit button-fill button-blue" name="register" type="submit">
                  Продовжити
               </button>
            </div>
         </form>
         <p class="log-form__subtext">
            Вже маєте обліковий запис? <span onclick="openPopupLogin()" class="subtext__link">Увіти</span>
         </p>
      </div>
   </div>

   <!-- ============  LOGIN FORM  ============== -->
   <div class="pop-up__log-form" id="login-form">
   
      <div class="background-darken"></div>
   
      <div class="log-form__container">
         <div class="log-form__close__container flex">
            <div class="log-form__close">
               <i class="ri-close-line"></i>
            </div>
         </div>
   
         <h1 class="log-form__title">Увійти</h1>
   
         <form action="#" class="log-form__form flex" method="post">
            {% csrf_token %}
            <div class="log-form__field">
               <p class="field-title">Ваш email</p>
               <input type="email" id="email" name="email" class="log-form__input input__container" placeholder="Email" required>
            </div>
            <div class="log-form__field">
               <p class="field-title">Пароль</p>
               <div class="log-form__input-with-icon">
                  <input type="password" class="log-form__input input__container input-password"
                     placeholder="Введіть пароль" required>
                  <span class="input__icon">
                     <i class="ri-eye-fill eye-opened hidden"></i>
                     <i class="ri-eye-off-fill eye-closed"></i>
                  </span>
               </div>
            </div>
            <div class="log-form__field">
               <button class="log-form__submit button-fill button-blue" name="login" type="submit">
                  Увійти
               </button>
            </div>
         </form>
         <p class="log-form__subtext">
            Ще не маєте облікового запису? <span onclick="openPopupSignup()" style="cursor: pointer;" class="subtext__link" >Зареєструватися</span>
         </p>
      </div>
   </div>

   <!-- scripts -->
   <script src="static/js/main.js"></script>

{% endblock %}