{% extends 'base.html' %}
{% block content %}
   <!-- ============  MAIN  ============== -->
   <main class="main">
      <div class="wrapper">
         <!-- ============  HOME  ============== -->
         <section class="home section">
            <div class="home__container">
               <div class="home__cards grid grid-template-columns-3">
                  <div class="home__card flex">
                     <i class="ri-calendar-check-line home__icon"></i>
                     <a href="{% url 'choose_booking' %}" class="home__button button-fill button-green">Забронювати</a>
                  </div>
                  <div class="home__card flex">
                     <i class="ri-ticket-2-line home__icon"></i>
                     <a href="{% url 'check_booking' %}" class="home__button button-fill button-blue">Подивитися білет</a>
                  </div>
                  <div class="home__card flex">
                     <i class="ri-calendar-close-line home__icon"></i>
                     <a href="{% url 'cancel_booking' %}" class="home__button button-fill button-red">Скасувати</a>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </main>

{% endblock %}