{% extends 'base.html' %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="pop-up__log-form" id="login-form">

    <div class="log-form__container">
        <h1 class="log-form__title">Увійти</h1>

        <form class="form log-form__form flex" method="POST">
            {% csrf_token %}
            <div class="field log-form__field">
                <p class="field-title">Ваш email</p>
                <input type="email" class="log-form__input input__container" placeholder="Email" id="email" name="email" required>
            </div>
            <div class="field log-form__field">
                <p class="field-title">Пароль</p>
                <div class="log-form__input-with-icon">
                    <input type="password" class="log-form__input input__container input-password" id="input-password"
                        placeholder="Введіть пароль" name="password" required>
                    <span class="input__icon" id="show-hide-password">
                        <i class="ri-eye-fill eye-opened hidden"></i>
                        <i class="ri-eye-off-fill eye-closed"></i>
                    </span>
                </div>
            </div>
            <div class="field log-form__field">
                <button class="log-form__submit button-fill button-blue" type="submit">
                    Увійти
                </button>
            </div>
        </form>
        <p class="log-form__subtext">
            Ще не маєте облікового запису? <span onclick="openPopupSignup()" style="cursor: pointer;" class="subtext__link" id="to-login">Зареєструватися</span>
        </p>
    </div>
</div>

<!-- scripts -->
<script src="static/js/forms.js"></script>
{% endblock %}