{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="payment section">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-chapter">
            <h1 class="chapter__title">Payment for ticket {{ ticket.ticket_number }}</h1>
            <div class="chapter__fields grid grid-template-columns-4">
                <div class="field chapter__field grid-field" tabindex="-1">
                    <p class="field-title">Ціна</p>
                    <p class="field-value">{{ form.price.value }}</p>
                    <input type="hidden" name="price" value="{{ form.price.value }}">
                </div>
                <div class="field chapter__field grid-field" tabindex="-1">
                    <p class="field-title">Валюта</p>
                    <p class="field-value">{{ form.currency.value }}</p>
                    <input type="hidden" name="currency" value="{{ form.currency.value }}">
                </div>
                <div class="field chapter__field grid-field" tabindex="-1">
                    <p class="field-title">Опис</p>
                    <p class="field-value">{{ form.description.value }}</p>
                    <input type="hidden" name="description" value="{{ form.description.value }}">
                </div>
            </div>
        </div>
        <div class="form-chapter">
            <h2 class="chapter__title">Card Information</h2>
            <div class="chapter__fields grid grid-template-columns-4">
                <div class="field chapter__field grid-field" tabindex="-1">
                    <p class="field__title"><label for="id_card_number">Card Number</label></p>
                    <input type="text" class="chapter__input input__container" placeholder="Номер картки" name="id_card_number" id="id_card_number">
                    <p class="chapter__field-error error hidden">Це поле має бути заповнене.</p>
                </div>

                <div class="field chapter__field grid-field" tabindex="-1">
                    <p class="field__title"><label for="id_card_expiry">Expiry Date (MM/YY)</label></p>
                    <input type="text" class="chapter__input input__container" placeholder="MM/YY" name="id_card_expiry" id="id_card_expiry">
                    <p class="chapter__field-error error hidden">Це поле має бути заповнене.</p>
                </div>

                <div class="field chapter__field grid-field" tabindex="-1">
                    <p class="field__title"><label for="id_card_cvv">CVV</label></p>
                    <input type="text" class="chapter__input input__container" placeholder="CVV" name="id_card_cvv" id="id_card_cvv">
                    <p class="chapter__field-error error hidden">Це поле має бути заповнене.</p>
                </div>
            </div>
        </div>
        <button class="form__submit button-fill button-green input__container" type="submit">Забронювати</button>
    </form>
</section>
<script src="{% static 'js/forms.js' %}"></script>
{% endblock %}
