{% extends 'base.html' %}
{% block content %}

<div class="pop-up__log-form" id="signup-form">

   <div class="log-form__container">

      <h1 class="log-form__title">Зареєструватися</h1>

      <form action="#" class="log-form__form flex" method="POST">
         {% csrf_token %}
         <div class="field log-form__field">
            <p class="field-title">Ваш email</p>
            <input type="email" class="log-form__input input__container" placeholder="Email" id="email" name="email" required>
         </div>
         <div class="field log-form__field">
            <p class="field-title">Ваше ім’я</p>
            <input type="text" class="log-form__input input__container" placeholder="Ім’я" id="first_name" name="first_name" required>
         </div>
         <div class="field log-form__field">
            <p class="field-title">Ваше прізвище</p>
            <input type="text" class="log-form__input input__container" placeholder="Прізвище" id="last_name" name="last_name" required>
         </div>
         <div class="field log-form__field">
            <p class="field-title">Пароль</p>
            <div class="log-form__input-with-icon">
               <input type="password" class="log-form__input input__container input-password" id="input-password" placeholder="Створіть пароль" name="password" required>
               <span class="input__icon" id="show-hide-password">
                  <i class="ri-eye-fill eye-opened hidden"></i>
                  <i class="ri-eye-off-fill eye-closed"></i>
               </span>
            </div>
         </div>
         <div class="field log-form__field">
            <button class="log-form__submit button-fill button-blue" type="submit">
               Продовжити
            </button>
         </div>
      </form>
      <p class="log-form__subtext">
         Вже маєте обліковий запис? <span onclick="openPopupLogin()" class="subtext__link" id="to-login">Увіти</span>
      </p>
   </div>
</div>

<!-- scripts -->
<script src="static/js/forms.js"></script>

{% endblock %}